<td>><%=wu.performed_at%></td>
<td>><%=wu.description%></td>
<td>><%=wu.duration%></td>
<td>><%=wu.description%></td>
<td>><%=wu.project.title%></td>
<td>><%=wu.project.title%></td>
<td>><%= wu.confirmed_at == nil ? "XXX" : "OK" %></td>