<div class="container">
  
  <%if current_user.admin? %>
  <h1>I'm an Admin!</h1>
  <ul>
    <li><%= link_to "Meine Baustunden", dashboard_path %></li>
    <li><%= link_to "Vereinsübersicht", dashboard_path %></li>
    <li><%= link_to "Projekte Verwalten", projects_path %></li>
    <li><%= link_to "Mitglieder Verwalten", users_path %></li>    
  </ul>
  <%end%>
  <% if @to_confirm.count %>
  <%= "#{@to_confirm.count} workunits to confirm"%>
  <%= render partial: "workunits/workunits_to_confirm", locals: {workunits: @to_confirm} %>
  <% end%>

  <%= render partial: "workunits/user_workunits", locals: {workunits: @workunits} %>
</div>