<td><%= link_to user.name, user %></td>
<td><%= link_to user.email, user %></td>
<td><%= user.admin %></td>
<td>
  <% if current_user.try(:admin?)%>
  <%= link_to 'Verwalten', edit_user_path(user)%> | 
  <%= link_to 'Make Admin', user_make_admin_path(user)%>
  <% end %>
</td>