<td><%= workunit.performed_at%></td>
<td><%= workunit.description%></td>
<td><%= workunit.duration%></td>
<td><%= workunit.project.name%></td>
<td><%= workunit.project.admin_names%></td>
<td><%= workunit.confirmed_at == nil ? "XXX" : "OK" %></td>