<!DOCTYPE html>
<html lang="de">
  <head>
    <title>FCC Baustunden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= link_to 'Baustunden Automat', dashboard_path,  {:class => "navbar-brand"} %>
        </a>

      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
            <%= link_to('Abmelden', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
            <li>
            <%= link_to('Anmelden', new_user_session_path)  %>  
            </li>
          <% end %>
        </ul>
    </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render partial: "shared/sidebar"%>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
      </div>

      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
